.navbar {
    padding: 1rem;
}

.card-content {
    margin-bottom: 1rem;
}

@page {
    size: A4
}

.card-content .btn {
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-boyd {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    padding: 1rem 0rem 1rem 0em;
    -webkit-box-shadow: 0px 1px 16px 7px rgba(0, 0, 0, 0.185);
    box-shadow: 0px 1px 16px 7px rgba(0, 0, 0, 0.185);
    transition: all 0.2s ease-in-out;
}

.card-boyd:hover {
    transform: scale(1.07) translateY(-5px);
    background-color: rgb(243, 241, 241);
    transition: all 0.2s ease-in-out;
}

.card-boyd img {
    margin-bottom: 1rem;
    width: 40px;
    height: 40px;
}

.deleteAll {
    margin-bottom: 2rem;
}

.titulo {
    font-size: 14px;
    position: relative;
}


.folha {
    padding: 2rem 6.5rem 0.5rem 6.5rem;
    font-family: "Calibri";

}

.folha.dois {
    padding: 0.2rem 6.5rem 0.5rem 6.5rem;
}

.folha p {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
}

.folha .row {
    display: flex;
    flex-direction: row;
}


.tabela {
    width: 100%;

}

.imprimir {
    display: flex;
    justify-content: end;
}

.logo-formulario {
    width: 120px;
    height: 80px;

}

.imagem-form {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93px;
}

.linha-pontuada {
    border: 1px dashed black;
    ;
}

.padrao {
    border: 2px solid black;
    display: flex;

    text-align: left;
    flex-direction: column;
    height: 93px;

    padding: 0.3rem 0 0 0.3rem;
}

.padraoPequeno {
    border: 2px solid black;
    display: flex;
    text-align: left;
    flex-direction: column;
    height: 42px;
    padding: 0.3rem 0 0 0.3rem;
}

.padraoMini {
    border: 2px solid black;
    display: flex;
    text-align: left;
    flex-direction: column;
    height: 24px;

}

.padraoCentro {
    border: 2px solid black;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 22px;

}

.padraoCentro.caixa {
    text-align: left;
    align-items: start;

    padding: 3px;
}



.bordar-espaço {
    padding-left: 0 !important;
}

.borde-left-non {
    border-left: none;
}

.borde-top-non {
    border-top: none;
}

.borde-bottom-non {
    border-bottom: none;
}

.folha p {
    font-size: 11px;
    color: black;
    font-weight: bold;

}

.distancia {
    margin-top: 0.1rem;
}

.honorarios {
    text-align: right;

    margin-bottom: 0;
}

.formulario-coluna.last {
    margin-left: 5rem;
}

.formulario-coluna.midle {
    border-left: none;

}

.txt-right {
    display: flex;
 align-items: end;
 
}